1.Create a table attribute dataset and dress dataset

In [ ]:
import mysql.connector as conn
mydb = conn.connect(host="localhost", user="root", password="pass")
print(mydb)
cursor = mydb.cursor()

cursor.execute('''CREATE TABLE rakmo.attribute_dataset (
  `Dress_ID` int DEFAULT NULL,
  `Style` text,
  `Price` text,
  `Rating` double DEFAULT NULL,
  `Size` text,
  `Season` text,
  `NeckLine` text,
  `SleeveLength` text,
  `waiseline` text,
  `Material` text,
  `FabricType` text,
  `Decoration` text,
  `Pattern Type` text,
  `Recommendation` int DEFAULT NULL);''')

cursor.execute('''CREATE TABLE rakmo.dress_sales (
  `Dress_ID` int DEFAULT NULL,
  `29/8/2013` int DEFAULT NULL,
  `31/8/2013` int DEFAULT NULL,
  `2/9/2013` int DEFAULT NULL,
  `4/9/2013` int DEFAULT NULL,
  `6/9/2013` int DEFAULT NULL,
  `8/9/2013` int DEFAULT NULL,
  `10/9/2013` int DEFAULT NULL,
  `12/9/2013` int DEFAULT NULL,
  `14/9/2013` int DEFAULT NULL,
  `16/9/2013` int DEFAULT NULL,
  `18/9/2013` int DEFAULT NULL,
  `20/9/2013` int DEFAULT NULL,
  `22/9/2013` int DEFAULT NULL,
  `24/9/2013` int DEFAULT NULL,
  `26/9/2013` int DEFAULT NULL,
  `28/9/2013` int DEFAULT NULL,
  `30/9/2013` int DEFAULT NULL,
  `2/10/2013` int DEFAULT NULL,
  `4/10/2013` int DEFAULT NULL,
  `6/10/2013` int DEFAULT NULL,
  `8/10/2010` int DEFAULT NULL,
  `10/10/2013` int DEFAULT NULL,
  `12/10/2013` int DEFAULT NULL,
  `MyUnknownColumn` text,
  `MyUnknownColumn_[0]` text,
  `MyUnknownColumn_[1]` text,
  `MyUnknownColumn_[2]` text,
  `MyUnknownColumn_[3]` text,
  `MyUnknownColumn_[4]` text,
  `MyUnknownColumn_[5]` text,
  `MyUnknownColumn_[6]` text,
  `MyUnknownColumn_[7]` text,
  `MyUnknownColumn_[8]` text,
  `MyUnknownColumn_[9]` text,
  `MyUnknownColumn_[10]` text
);''')

print(cursor.fetchall())

2.Do a bulk load for these two table for respective dataset

In [ ]:
import pandas as pd
import mysql.connector as mysql
from mysql.connector import Error

a=pd.read_csv(r'C:\Users\omth0419\Desktop\data fsds\data fsds_\Attribute DataSet.csv', index_col=None)
a = a.fillna('')

try:
    conn = mysql.connect(host="localhost", user="root", password="pass", database="ineuron")
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        #loop through the data frame
        for i,row in a.iterrows():
            sql = "INSERT INTO ineuron.attribute_dataset VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
#            print("Record inserted")
#            conn.commit()
        conn.commit()
        print("Records have been inserted")
except Error as e:
            print("Error while connecting to MySQL", e)

In [ ]:
import pandas as pd
import mysql.connector as mysql
from mysql.connector import Error

a=pd.read_csv(r'C:\Users\omth0419\Desktop\data fsds\data fsds_\Dress Sales.csv', index_col=None)
df1 = a.where(pd.notnull(a), 0)
df1.where(pd.convert())
df1 = df1.fillna('')

try:
    conn = mysql.connect(host="localhost", user="root", password="pass", database="ineuron")
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        #loop through the data frame
        for i,row in df1.iterrows():
            sql = "INSERT INTO ineuron.dress_sales VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            conn.commit()
#        conn.commit()
#        print("Records have been inserted")
except Error as e:
            print("Error while connecting to MySQL", e)

3.read these dataset in pandas as a dataframe

In [ ]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://root:pass@localhost:3306/rakmo')
a = pd.read_sql_table('dress_sales',engine)
a

In [ ]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://root:pass@localhost:3306/rakmo')
a = pd.read_sql_table('attribute_dataset',engine)
a

4.Convert attribute dataset in json format

In [ ]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://root:pass@localhost:3306/rakmo')
a = pd.read_sql_table('attribute_dataset',engine)
a.to_json()

5.Store this dataset into mongodb

In [ ]:
import pymongo
import pandas as pd
import sqlalchemy

import mysql.connector as conn
mydb = conn.connect(host="localhost", user="root", password="pass")

mycursor = mydb.cursor(dictionary=True) 
mycursor.execute("SELECT * from ineuron.attribute_dataset;") 
myresult = mycursor.fetchall() 
#print(myresult)

#engine = sqlalchemy.create_engine('mysql+pymysql://root:logan786@localhost:3306/ineuron')
#a = pd.read_sql_table('attribute_dataset',engine)

client = pymongo.MongoClient("mongodb+srv://logan:logan786@cluster0.d07rw.mongodb.net/?retryWrites=true&w=majority")

db = client.test
#print(db)

#data1 = a.to_json()
#type(data1)
db = client['mongodb']
coll = database['atribute_dataset']
#coll.insert_one(data1)
#coll.insert_many([data1])

if len(myresult) > 0:
        x = coll.insert_many(myresult) #myresult comes from mysql cursor
        print(len(x.inserted_ids))

6.in sql task try to perform left join operation with attrubute dataset and dress dataset on column Dress_ID

In [ ]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://root:pass@localhost:3306/ineuron')
#pd.read_sql_table('dress_sales',engine)

query = '''
SELECT *
 FROM attribute_dataset LEFT JOIN dress_sales
 ON attribute_dataset.Dress_ID=dress_sales.Dress_ID
'''

pd.read_sql_query(query,engine)

7.Write a sql query to find out how many unique dress that we have based on dress id

In [ ]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://root:pass@localhost:3306/ineuron')
#pd.read_sql_table('dress_sales',engine)

query = '''
select count(*) from dress_sales inner join attribute_dataset on 
dress_sales.dress_id=attribute_dataset.dress_id;
'''

pd.read_sql_query(query,engine)

8.Try to find out how mnay dress is having recommendation 0

In [ ]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://root:pass@localhost:3306/ineuron')
#pd.read_sql_table('dress_sales',engine)

query = '''
 SELECT count(*) as Recommendation_0
 FROM attribute_dataset
 where Recommendation=0;
'''

pd.read_sql_query(query,engine)

9.Try to find out total dress sell for individual dress id

In [ ]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://root:pass@localhost:3306/ineuron')
#pd.read_sql_table('dress_sales',engine)

query = '''select dress_id,Sum(`29/8/2013`+`31/8/2013`+`2/9/2013`+`4/9/2013`+`6/9/2013`+`8/9/2013`+
`10/9/2013`+`12/9/2013`+`14/9/2013`+`16/9/2013`+`18/9/2013`+`20/9/2013`+`22/9/2013`+`24/9/2013`+
`26/9/2013`+`28/9/2013`+`30/9/2013`+`2/10/2013`+`4/10/2013`+`6/10/2013`+`8/10/2010`+`10/10/2013`+`12/10/2013`) as Total_sales 
from dress_sales
group by dress_id
order by Total_sales desc;
'''

pd.read_sql_query(query,engine)

10.Try to find out a third highest most selling dress id

In [ ]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://root:pass@localhost:3306/ineuron')
#pd.read_sql_table('dress_sales',engine)

query = '''select dress_id,Sum(`29/8/2013`+`31/8/2013`+`2/9/2013`+`4/9/2013`+`6/9/2013`+`8/9/2013`+
`10/9/2013`+`12/9/2013`+`14/9/2013`+`16/9/2013`+`18/9/2013`+`20/9/2013`+`22/9/2013`+`24/9/2013`+
`26/9/2013`+`28/9/2013`+`30/9/2013`+`2/10/2013`+`4/10/2013`+`6/10/2013`+`8/10/2010`+`10/10/2013`+`12/10/2013`) as Total_sales 
from dress_sales
group by dress_id
order by Total_sales desc limit 1 offset 2;
'''

pd.read_sql_query(query,engine)